@import '../../scss/abstracts';

.document-section {
  margin: 0 -4rem 2rem -4rem;
  padding: 0 4rem 2rem 4rem;
  border-bottom: 1px solid $grey;
}

.document-form {
  .form-row {
    @include flex();
    width: 100%;
    margin-bottom: 1rem;

    .form-field {
      flex: 1 0 46%;
      max-width: 46%;
      
      label {
        display:block;
        margin-bottom: 0.2rem;
        font-size: 1.2rem;
      }
    }
  }

  button {
    width: 100%;
    background-color: $green;
  }
}

.document-uploaded {
  @include flex();
  width: 100%;
  font-size: $m ;
}


.asistentes-top {
  @include flex();
  margin: 2rem -4rem;
  padding: 0 4rem;
}

.asistentes-list {
  margin:2rem -4rem 0 -4rem;
  padding: 0 4rem;
  border-bottom: 1px solid $grey;
  height: calc(100vh - 490px);
  overflow: auto;

  .asistentes-list-item {
    @include flex();
    padding: 1.5rem 1rem;
    cursor: pointer;
    border-top: 2px solid $light-blue;

    &:hover {
      background-color: $highlight-blue;
    }

    .asistentes-list-item-info {
      color: $dark-grey;
      font-size: $m;
      flex: 1 0;

      .asistentes-list-item-name { margin-bottom: 0.1rem; }
      .asistentes-list-item-lastname { margin-bottom: 0.4rem; }
    }

    .asistentes-list-item-status {
      padding: 0 1rem;
    }
    
    .asistentes-list-item-actions {
      padding: 0 1rem;
    }
  }
}

.asistentes-bottom {
  text-align: center;

  button {
    width: 80%;
    margin: 2rem auto;
    background-color: $green;
  }
}

button.app-button { 
  border-radius: 3px;
  padding: 12px;
  font-size: $m;
  color: $white;
  cursor: pointer;
}