.asistentes-list {

  .asistentes-list-item {
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem;
    cursor: pointer;
    border-top: 1px solid lightblue;

    &:hover {
      background-color: lightgray;
    }

    .asistentes-list-item-info {
      color: grey;
      font-size: 12px;
      flex: 1 0;

      .asistentes-list-item-name {
        margin-bottom: 0.1rem;
      }

      .asistentes-list-item-lastname {
        margin-bottom: 0.4rem;
      }
    }

    .asistentes-list-item-status {
      padding: 0 1rem;
    }

    .asistentes-list-item-actions {
      padding: 0 1rem;
    }
  }
}

.asistentes-bottom {
  text-align: center;

  button {
    background-color: #2e3d7c;
  }
}

.asistente-status {
  text-transform: uppercase;
  font-size: 10px;
  padding: 0.4rem 0.8rem;

  &.estado-0 {
    background-color: lightblue;
    color: #227fbb;
  }

  &.estado-1 {
    background-color: lightblue;
    color: #227fbb;
  }

  &.estado-2 {
    background-color: green;
    color: white;
  }
}

button.app-button {
  border-radius: 3px;
  padding: 12px;
  font-size: 15px;
  color: white;
  cursor: pointer;
}