.rounded-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: lightblue;
  cursor: pointer;

  &:hover {
    background-color: #227fbb;

    svg path {
      fill: white;
    }
  }

  &.disabled {
    opacity: 0.5;

    &:hover {
      background-color: lightblue;
      cursor: default;

      svg path {
        fill: #227fbb;
      }
    }
  }
}