.call-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'header header header'
        'call-room call-room call-room';
    grid-template-rows: auto 1fr;

    .header {
        grid-area: header;
    }

    .call-room {
        grid-area: call-room;
    }

}